<section class="hero">
	<img src="{{ asset('images/Accueil/salon1.png') }}" alt="Les Maisons de Marie" class="hero-image">
	<div class="hero-text">
		<h1>
			<span class="hero-left">LES
			</span>
			<span class="hero-right">MAISONS
				<br>
				DE MARIE</span>
		</h1>
	</div>
</section>
