<section class="hero">
	<img src="{{ asset('images/cuisine1.png') }}" alt="Les Maisons de Marie" class="hero-image">
	<div class="hero-text">
		<img src="{{ asset('images/Nom_Les_maisons_de_marie-removebg-preview.png') }}" alt="Les Maisons de Marie" class="name-image">

	</div>
</section>
