<section class="container-fluid mt-5">
	<div class="row">
		<div
			class="col-md-6">
			<!-- Image à gauche -->
			<div class="image-left">
				<img src="{{ asset('images/presentation.jpeg') }}" alt="Maisons de Marie" class="img-fluid">
			</div>
		</div>
		<div
			class="col-md-6">
			<!-- Texte à droite -->
			<div class="history-overlay">
				<h1>L’histoire des Maisons de Marie</h1>
				<p>
					Marie, artiste peintre de passion, a d'abord cultivé des fruits rouges (framboises, myrtilles, groseilles) dans la région, avant d'acquérir il y a plus de 25 ans les Maisons de Marie, situées non loin de ses champs. 
															                    Entourées des vastes champs de céréales de son frère, ces maisons ont su allier l’authenticité de la nature et l’art de vivre.
					<br>
					<br>
					Animée par une passion pour la décoration d'intérieur, Marie a métamorphosé ces maisons en véritables havres de charme. Chaque pièce reflète son amour de l’art et de la beauté, faisant de chaque séjour une expérience unique.
				</p>
				<br>
			</div>
		</div>
	</div>
</section>
