<section class="container-fluid mt-5">
	<div class="row">
		<div
			class="col-md-6 col-lg-5 col-md-12 order-lg-1 d-flex">
			<!-- Image à gauche -->
			<div class="image-left">
				<img src="{{ asset('images/Accueil/vue porte entree.png') }}" alt="Maisons de Marie" class="img-fluid">
			</div>
		</div>
		<div
			class="col-md-6 col-lg-5 col-md-12 order-lg-1 d-flex">
			<!-- Texte à droite -->
			<div class="history-overlay ">
				<h1 style="line-height: 0.8;">L’histoire des Maisons de Marie</h1>
				<p>
					Découvrir les Maisons de Marie, c'est avant tout s'offrir une immersion dans une région où l'histoire, la nature préservée et la gastronomie se rencontrent harmonieusement.
					<br><br>
					Construites entre le XVIIIe et XIXe siècle et récemment rénovées, les trois métairies forment un hameau où chaque maison est entièrement indépendante.
					<br><br>
					L'esprit de l'ancien et l'esthétique contemporaine se mêlent harmonieusement, offrant à ces trois habitations, avec piscine privative, un charme irrésistible.
				</p>

			</div>
		</div>
	</div>
</section>
