<section class="container-fluid mt-5">
	<div class="row">
		<div
			class="col-md-6">
			<!-- Image à gauche -->
			<div class="image-left">
				<img src="{{ asset('images/presentation.jpeg') }}" alt="Maisons de Marie" class="img-fluid">
			</div>
		</div>
		<div
			class="col-md-6">
			<!-- Texte à droite -->
			<div class="history-overlay">
				<h1>L’histoire des Maisons de Marie</h1>
				<p>
					La priorité a été donnée au choix des matériaux traditionnels, conservant la particularité déjà existante de chacunes d'elles.
					<br>
					Je souhaitais des couleurs douces enveloppentes. Les meubles et objets appartenaient à ma famille, ou pour la plupart on été chiné sur les brocantes et salon d'antiquaires régionaux.
					<br>
					Tout en étant proche du village de Castillonnès et de ses commerces, les trois maisons se trouvent dans un environnement calme et champètres. Les activités culturelles sont nombreuses à proximité,  notre patrimoine foisonne de châteaux et de bastides médiévalles.
					<br>
					Je suis toujours à votre disposition pour vous partager mes endroits favoris et ma connaissance de cette région que j'aime.<br>
				</p>
			</div>
		</div>
	</div>
</section>
