{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans nos hébergements
{% endblock %}

{% block body %}

	<div>
		<h1>3 Gîtes de charmes avec piscine privé pour chaque gîtes</h1>
		<hr>
		<p>Les Maisons de Marie vous accueillent dans un cadre exceptionnel, au coeur de la campagne, à 1h30 de l'océan' 
											Vous pourrez profiter de la piscine privée de chaque gîte, de la terrasse et du jardin. Les gîtes sont entièrement équipés et décorés avec soin. 
											Vous pourrez également profiter du barbecue, du dépaisement et du soleil. Les Maisons de Marie sont idéales pour des vacances en famille ou entre amis.</p>
	</div>


	<h1>Nos gîtes</h1>
	<hr>
	<div class="row">
		{% for ad in ad %}
			{% include "ad/_ad.html.twig" %}
		{% endfor %}
	</div>


{% endblock %}
