{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans nos hébergements
{% endblock %}

{% block body %}

	<div class="home">
		<h1>3 Gîtes de charmes avec piscine privée pour chaque gîte</h1>
		<hr>
		<p>Les Maisons de Marie vous accueillent dans un cadre exceptionnel, au coeur de la campagne, à 1h30 de l'océan. 
																																			Vous pourrez profiter de la piscine privée de chaque gîte, de la terrasse et du jardin. Les gîtes sont entièrement équipés et décorés avec soin. 
																																			Vous pourrez également profiter du barbecue, du dépaisement et du soleil. Les Maisons de Marie sont idéales pour des vacances en famille ou entre amis.
			<br>
			<span>Ici règne le calme, dans un espace voué à la tranquillité, entouré de paisibles paysages, de
																collines verdoyantes, de lacs et de forêt.
																Profitez de votre confortable gîte, d’un dîner sur votre terrasse privée à côté d’une flambée
																chaleureuse, piquez une tête pour vous rafraîchir dans la piscine…</span>
			<br>
			<span>Depuis plus de 15ans</span>
			<br>
			<span>Découvrez l’atmosphère d’une région rurale entièrement préservée, une expérience d’une
												rare authenticité, dans un environnement de pleine nature.
												Une France authentique aux maisons de Marie</span>
		</p>
	</div>


	<h1>Nos gîtes</h1>
	<hr>
	<div class="row">
		{% for ad in ad %}
			{% include "ad/_ad.html.twig" %}
		{% endfor %}
	</div>


{% endblock %}
