{% extends 'base.html.twig' %}

{% block title %}
	Bienvenue aux maisons de Marie
{% endblock %}

{% block body %}
	<div class="container">
		<h1>
			Bienvenue</h1>
		<p>
			Voici mes maisons en location
		</p>
	</div>
{% endblock %}
