<section class="container-fluid hero-content mt-5">
	<div class="row">
		<div class="col-md-6">
			<div class="hero-overlay">
				<h1>Les Maisons de Marie
				</h1>
				<p>
					En périgord Pourpre, nichées dans les méambres d'un influent du Dropt, entre Villeneuve sur lot et Bergerac, je vous propose trois maisons de caractères, constuites entre le XVIIIe et XIXe siècle, bénéficiant d'une rénovation récente - alliant confort et modernité.
					<br>
					La priorité a été donnée au choix des matériaux traditionnels, conservant la particularité déjà existante de chacunes d'elles.
					<br>
					Je souhaitais des couleurs douces enveloppentes. Les meubles et objets appartenaient à ma famille, ou pour la plupart on été chiné sur les brocantes et salon d'antiquaires régionaux.
					<br>
					Tout en étant proche du village de Castillonnès et de ses commerces, les trois maisons se trouvent dans un environnement calme et champètres. Les activités culturelles sont nombreuses à proximité,  notre patrimoine foisonne de châteaux et de bastides médiévalles.
					<br>
					Je suis toujours à votre disposition pour vous partager mes endroits favoris et ma connaissance de cette région que j'aime.
					<a href="{{ path('houseAll')}}" class="btn-custom-outline " target="_blank">
						<span>Voir les gîtes</span>
					</a>

				</p>
				<br>

			</div>
		</div>
		<div class="col-md-6">
			<div class="image-right">
				<img src=" {{ asset('images/vue devant2.jpg') }}" alt=" maison de Marie" class=" img-fluid">
			</div>
		</div>
	</div>
</section>
