<section class="container-fluid hero-content mt-5">
	<div class="row">
		<div class="col-md-6">
			<div class="hero-overlay">
				<h1>Les Maisons de Marie</h1>
				<p>
					Bienvenue dans nos trois maisons de charme, idéalement situées en Dordogne, près de Bergerac. Chacune d'elles vous offre un cadre intime avec piscine privée et parking, parfait pour des vacances en toute sérénité.
					<br>
					<br>
					Que vous soyez en quête de détente ou d’aventures, nos maisons vous accueilleront comme chez vous, alliant confort moderne et authenticité. Profitez de moments précieux en famille ou entre amis, dans l’un des plus beaux coins du Sud-Ouest.
					<br>
					<br>
					Réservez votre séjour et laissez-vous séduire par l’atmosphère unique de nos maisons, où chaque instant devient inoubliable.
				</p>
				<br>

			</div>
		</div>
		<div class="col-md-6">
			<div class="image-right">
				<img src=" {{ asset('images/cuisine3.png') }}" alt=" maison de Marie" class=" img-fluid">
			</div>
		</div>
	</div>
</section>
