/*--------------------------------------------------------------
# HContact
--------------------------------------------------------------*/
/* Formulaire */
form .form-control {
  border-radius: 5px;
  box-shadow: none;
}

/* Enlever la bordure des champs de texte */
.form-control:focus {
  border-color: #c2a47f;
  box-shadow: 0 0 5px rgba(194, 164, 127, 0.8);
}
