/* Titres */
h1,
h2,
h3,
h4 {
  font-family: "Lato", serif;
  line-height: 1.3;
  overflow-y: hidden;
  font-display: swap;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}

/*--------------------------------------------------------------
# Général
--------------------------------------------------------------*/

html,
body {
  font-family: "Bodoni Moda", serif !important;
  font-display: swap;
  position: relative;
  height: 100%;
  text-decoration: none;
  list-style: none;
  background-color: #fff;
  scroll-behavior: smooth;
  max-width: 100%;
  font-size: 1.3rem;
  line-height: 2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Boutons
--------------------------------------------------------------*/
.btn-custom {
  background-color: rgba(167, 182, 154, 0.9); /* Vert sauge avec opacité */
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

/* Effet hover */
.btn-custom:hover {
  background-color: #c2a47f; /* Or doux */
  color: white;
  transform: scale(1.05);
}

/* Effet focus */
.btn-custom:focus {
  outline: 2px solid #c2a47f;
  outline-offset: 3px;
}

/* Bouton désactivé */
.btn-custom:disabled {
  background-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
}

/* Bouton avec contour uniquement */
.btn-custom-outline {
  background-color: transparent;
  color: #a7b69a;
  border: 2px solid #a7b69a;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.btn-custom-outline:hover {
  background-color: #a7b69a;
  color: white;
  transform: scale(1.05);
}

/* Bouton arrondi */
.btn-custom-round {
  background-color: #c2a47f;
  color: white;
  border-radius: 50px;
  padding: 12px 30px;
  transition: all 0.3s ease-in-out;
}

.btn-custom-round:hover {
  background-color: #a7b69a;
  transform: scale(1.05);
}

/* Bouton fantôme (sans fond) */
.btn-custom-ghost {
  background: none;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.btn-custom-ghost:hover {
  background: white;
  color: #a7b69a;
}

/* Bouton pour mobile (plein écran) */
.btn-custom-mobile {
  width: 100%;
  padding: 15px;
  font-size: 1.3rem;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.bg-custom {
  background-color: #ede4d1;
}

.contact-info a {
  color: black;
}

.footer-brand {
  margin-left: 25%;
}
.footer-separator {
  border: none;
  border-top: 1px solid #a7b69a;
  width: 80%;
  margin: auto;
}

.footer-copyright {
  font-size: 0.9rem;
  color: #c2a47f;
}

.contact-lower {
  margin-top: 90px !important;
}

/*--------------------------------------------------------------
# Navbar Latérrale
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  right: 0;
  width: 80px;
  height: 100vh;
  background-color: #3d3d3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  z-index: 2000;
}

/* Bouton de menu (hamburger) */
.toggle-btn {
  background: none;
  border: none;
  font-size: 50px;
  color: #c2a47f;
  cursor: pointer;
}

/* Liste des liens (cachée par défaut) */
.nav-links {
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  display: none;
}

.nav-links a {
  text-decoration: none;
  color: #c2a47f;
  font-size: 1.2rem;
  display: block;
  padding: 10px 0;
  transition: 0.3s;
}

.nav-links a:hover {
  background-color: #666;
}

/* Lorsque la classe 'open' est ajoutée, afficher la liste */
.sidebar.open {
  width: 200px;
}

.sidebar.open .nav-links {
  display: block;
}

/* Masquer le sous-menu par défaut */
.submenu {
  display: none;
  margin-left: 20px;
}

/* Style du menu principal */
.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin: 10px 0;
}

/* Bouton de menu déroulant ▼ */
.dropdown-btn {
  background: none;
  border: none;
  color: #ede4d1;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
}
/* Sous-menu (caché par défaut) */
.submenu {
  display: none;
  list-style: none;
  padding-left: 20px;
}

/* Afficher le sous-menu quand "open" est activé */
.submenu.open {
  display: block;
}

/* Effet au survol */
.nav-links a:hover,
.dropdown-btn:hover {
  background-color: #666;
}

/*--------------------------------------------------------------
# Image d'accueil
--------------------------------------------------------------*/
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4); /* Superposition blanche avec opacité */
  z-index: 2;
}

.hero-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: blur(25px); /* Applique le flou à l'image */
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centre le texte */
  z-index: 2;
  color: #333;
  text-align: center;
}

.hero-text h1 {
  font-size: 7rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero-left {
  font-size: 10rem;
  font-weight: bold;
  margin-top: 50px;
  color: #333;
  text-align: left;
  line-height: 1; /* Maintient la hauteur des lignes */
  height: 1.2em; /* Hauteur similaire à "Maisons de Marie" */
  padding-right: 20px; /* Ajoute un peu d'espace entre "LES" et "Maisons" */
}

.hero-right {
  font-size: 6rem;
  font-weight: bold;
  color: #333;
  text-align: left;
  line-height: 0.8; /* Ajuste la hauteur pour "Maisons de Marie" */
  padding-left: 10px;
}

/*--------------------------------------------------------------
# Presentation homepage
--------------------------------------------------------------*/
.hero-content {
  position: relative;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero-overlay {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  text-align: left;
}

.hero-overlay h1,
h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.hero-overlay h1 {
  color: #3d3d3d;
  font-weight: bold;
  font-size: 3rem;
}

.image-right {
  display: flex;
  justify-content: flex-end; /* Aligne l'image à droite */
}

.image-right img {
  width: 100%;
  margin-right: 100px; /* Ajuste l'espacement à droite si nécessaire */
  border-radius: 10px; /* Si tu veux arrondir les bords de l'image */
  opacity: 0.6; /* Ajuste l'opacité pour un effet plus doux */
  filter: brightness(80%);
}

/*--------------------------------------------------------------
# Histoire homepage
--------------------------------------------------------------*/
.history-overlay {
  padding: 60px; /* Ajoute un peu de padding */
  background-color: #f5f5f5; /* Couleur de fond différente pour la section histoire */
  border-radius: 10px; /* Bord arrondi pour donner du style */
  margin-right: 50px; /* Ajuste l'espacement à droite si nécessaire */
  width: 930px;
  height: 800px;
}

.history-overlay h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 15px;
}

.history-overlay p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
}

/* Image à gauche et légèrement montée */
.image-left img {
  width: 80%; /* Prend toute la largeur disponible */
  height: 930px;
  position: relative;
  top: -150px; /* Décale légèrement l'image vers le haut */
  margin-left: 80px; /* Ajuste l'espacement à gauche si nécessaire */
  border-radius: 10px; /* Bord arrondi pour une belle finition */
}
