<header class="navbar">
	<nav class="navbar-content">
		<a href="{{ path('homepage') }}">
			<img src="{{ asset('images/Les_maisons_de_marie_CAC.png') }}" alt="Les Maisons de Marie Logo" class="navbar-logo">
		</a>
	</nav>
</header>
