<section class="service-contact-section mb-5">
	<div class="container-fluid">
		<h2>{{ 'service_contact.title'|trans }}</h2>

		<div class="d-flex justify-content-center align-items-center">
			<a href="mailto:contact@lesmaisonsdemarie.net" class="btn-custom-outline">
				<span>{{ 'service_contact.button'|trans }}</span>
			</a>
		</div>
	</div>
</section>
