<section class="service-contact-section mb-5">
	<div class="container-fluid">
		<h2>Contactez-moi pour en savoir plus</h2>

		<div class="d-flex justify-content-center align-items-center">
			<a href="mailto:contact@lesmaisonsdemarie.net" class="btn-custom-outline">

				<span>Envoyer un message</span>
			</a>

		</div>
	</section>
